/* Banner */
.banner {
  /* width: 100%; */
  margin-top: 3.5rem;
  height: 330px; /* adjust as needed */
  overflow: hidden;
  /* margin-bottom: 2rem; */
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* ensures image covers entire area */
  display: block;
}

/* Products Section */
.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem;
  padding: 2rem 2rem 2rem 2rem;
  background-color: #f5f5f5; /* light background for contrast */
}

/* Individual Product Card */
.product-card {
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  margin-bottom: 1rem;
}

.product-card h3 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.product-card p {
  margin: 0.2rem 0;
}

.product-card .price {
  font-weight: bold;
  color: #000;
}
