.category-section {
  padding: 0rem;
}

.category-section h2 {
  margin-bottom: 1rem;
  /* border-bottom: 2px solid #000; */
  display: inline-block;
  margin: 1rem 2rem ;
}
.container{
    padding-top: 8rem;
    background-color: #f5f5f5;
}
.category-section{
      background-color: #f5f5f5;
}
.nav-wrapper {
  position: fixed;
  padding: 1rem;
  top: 0; /* Height of NavCustomer */
  z-index: 99;
}
