.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 100px;
  border-bottom: 1px solid rgba(64, 64, 64, 0.5);
  background-color: #fff;
}

.nav-left img.nav-logo {
  height: 50px;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 30px;
  font-family: 'Outfit', sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-button {
  background-color: #000;
  color: #fff;
  padding: 12px 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.login {
  font-weight: 500;
  font-size: 18px;
  color: #1f1f1f;
}
