.delivery-page {
  max-width: 600px;
  margin: 100px auto 50px;
  padding: 0 1.5rem;
}

.delivery-page h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.delivery-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.delivery-form label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.delivery-form input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 0.3rem;
  font-size: 1rem;
}

.delivery-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.delivery-buttons button {
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s;
}

.delivery-buttons button:first-child {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  padding: 0 5rem;
}

.delivery-buttons button:first-child:hover {
  background-color: #999;
}

.delivery-buttons button:last-child {
  background-color: #000;
  color: white;
}

.delivery-buttons button:last-child:hover {
  background-color: #000;
}
